.content-new-user {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.area-upload {
    background: var(--color-secondary);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    border: none;
    padding: 17px 14px;
    gap: 16px;
    cursor: pointer;
}

.area-upload span {
    color: var(--color-primary);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    text-decoration-line: underline;
}

.form-new-user, .form-new-user .group-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media screen and (min-width: 769px){
    .content-new-user{
        flex-direction: row-reverse;
    }

    .area-upload{
        padding: 92px 54px;
        width: 50%;
    }

    .area-upload span{
        font-size: 12px;
    }

    .form-new-user .group-form{
        width: 370px;
        flex-direction: row;
        justify-content: space-between;
    }
}